################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sh.exe.stackdump
/public
/build-scripts/node_modules
