/* Octopress overrides */
p.meta > a.label, p.meta > a.label::before { display: none}
table.lntable { overflow: auto; }
span.lnt { display: inherit; }

div.highlight > div.chroma {
  border-radius: 10px;
}

  div.highlight > div > table {
    padding: 10px !important;
  }

pre.chroma {
  margin-bottom: 0px;
}

article > header {
  margin-bottom: 1em;
  padding-bottom: 0;
}

/* tags */
a.widget__link:hover {
  background: #0181eb;
  text-shadow: none;
  color: #f8f8f8 !important;
}
a.widget__link {text-decoration: none}
/* tags -- end -- */


nav#TableOfContents:before {
  content: 'Table of Contents';
  font-size: x-large;
  text-decoration: underline;
}

nav#TableOfContents {
  padding: 1em 0 1em 1em;
  background-color: #f2f2f2;
  /* position: sticky;
  top: 0;*/
  margin-left: -1em;
  margin-bottom: 1em;
  border:  1px dashed grey;
}

nav#TableOfContents > ul {
  margin-bottom: 0;
}

/* Octopress -- end -- */

/* fix syntax highlighting bug just for JS?!? 
code.language-js > span.lnt:last-child {
  display: none;
}
*/