{{ partial "header.html" . }}

<style>
  li.year {
    margin-bottom: 10px;
    list-style: none;
    margin-left: -1em"
  }
  input.showhide {
    transform: scale(3);
    position: absolute;
    left: 218px;
    top: 53px;
    opacity: 0;
    cursor: pointer;
  }

  /* show/hide the articles */
  input.showhide:not(:checked) ~ ul.year ul.articles {
    z-index: -1; position: relative; /*this prevents the hidden collapsed content from conflicting with hrefs on the visible*/
    height: 0;
    opacity: 0;
  }

  input.showhide ~ ul.year ul.articles {
    opacity: 1;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  /* disable the links */
  input.showhide:not(:checked) ~ ul.year ul.articles a {
    pointer-events: none;
    cursor: unset;
  }

  /* flip the font-awesome caret */
  input.showhide:checked + h1 > i.contracted {
    display: none;
  }
  input.showhide:not(:checked) + h1 > i.expanded {
    display: none;
  }

</style>

<div id="main">
  <div id="content">
    <div class="blog-index">
      <article style="margin-top: 0; padding-top: 0">
          <input type="checkbox" class="showhide" title="expand articles">
          <h1 style="margin-bottom: 0.5em">Archives
              <i class="far fa-caret-square-down expanded" style="color: blue"></i>
              <i class="far fa-caret-square-right contracted" style="color: blue"></i>
          </h1>
          <ul class="year">
          {{ range (where .Site.Pages "Type" "post").GroupByDate "2006" }}
            <li class="year">
              <h2><a href="/{{ .Key }}">{{ .Key }}</a> ({{ len .Pages }})</h2>
              <ul class="months">
                {{ range .Pages.GroupByDate "2006/01" }}
                  <li style="list-style: none">
                    <a href="/{{.Key}}">{{ print (replace .Key "/" "-") "-01" | dateFormat "January" }}</a> ({{ len .Pages }})
                    <ul class="articles">
                      {{ range .Pages }}
                        <li>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                      {{ end }}
                    </ul>
                  </li>
                {{ end }}
              </ul>
            </li>
          {{end}}
        </ul>
      </article>  
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}