{{ partial "header.html" . }}

<main class="main list content" role="main">
  {{- with .Title }}
  <header class="page-header">
    <h1 class="page-header__title">{{ . }}</h1>
  </header>
  {{- end }}
  {{- with .Content }}
  <div class="page-content">
    {{ . }}
  </div>
  {{- end }}

  <ul class="years">
    {{ range where .Site.Pages "Section" "archives" }}
    {{if ne .Name "Archives"}}
    {{ $year := .Date.Format "2006" }}
    <li style="margin-bottom: 10px">
      <a href="{{ .Permalink }}">{{ $year }}</a>
      ({{ len (index (where ((where .Site.RegularPages "Type" "post").GroupByDate "2006") "Key" $year) 0).Pages }})
      <ul class="months">
        {{ range where .Site.Pages "Section" "archm" }}
        {{ $yyyymm := .Date.Format "200601" }}
        {{ if and (not ($.Scratch.Get $yyyymm)) (eq (.Date.Format "2006") $year) }}
        <li>
          <a href="{{ .Permalink }}">{{ .Date.Format "January" }}</a>
          ({{ len (index (where ((where .Site.RegularPages "Type" "post").GroupByDate "200601") "Key" $yyyymm) 0).Pages }})
        </li>
        {{ $.Scratch.Set $yyyymm true }}
        {{ end }}
        {{ end }}
      </ul>
    </li>
    {{end}}
    {{ end }}
  </ul>
</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
